<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<!-- 制定mysql的驱动包的路径(路径不能存在中文) -->
	<classPathEntry location="/Users/yangyuhao/Documents/workspace/mybatis1/lib/mysql-connector-java-5.1.7-bin.jar" />
	<!-- 配置数据源和生成的代码所存放的位置 -->
	<context id="context1">

		<commentGenerator>
			<!-- 去除自动生成的注释 -->
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<!-- 配置数据库连接信息 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql:///book_mate?characterEncoding=UTF-8" userId="root"
			password="root" />
		<!-- 所生成的实体类的位置默认资源包src -->
		<javaModelGenerator targetPackage="org.bookmate.generator"
			targetProject="bookMateServer" />
		<!-- 所生成的sqlMap的映射文件的位置,默认资源包src -->
		<sqlMapGenerator targetPackage="org.bookmate.generator"
			targetProject="bookMateServer" />

		<!-- 为哪些表生成代码 tableName:表名 schema:不用填写,其余属性是禁用例子查询的生成 -->
<!-- 		<table schema="" tableName="book" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		<table schema="" tableName="admin" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		<table schema="" tableName="admin_message" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		<table schema="" tableName="user" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		<table schema="" tableName="forum" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		<table schema="" tableName="forum_comment" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		<table schema="" tableName="borrow" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table> 
		<table schema="" tableName="book_classify_two" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		
		<table schema="" tableName="browse_record" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		<table schema="" tableName="borrow_record" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table> -->
		
		<table schema="" tableName="book_recommend_result" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
		<table schema="" tableName="user_recommend_result" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
	
	</context>
</generatorConfiguration>
